<nav>
    <div class="nav-wrapper grey darken-1" id="barra">
      <a class="brand-logo"id="titulo">La bodega</a>
      <ul id="nav-mobile" class="right ">
        <li><a href="sass.html"><i class="large material-icons">apps</i></a></li>
        <li><a href="badges.html"><i class="large material-icons">shopping_cart</i></a></li>
        <li><a href="collapsible.html"><i class="large material-icons">inbox</i></a></li>
        <li><a href="collapsible.html"><i class="large material-icons">exit_to_app</i></a></li>
      </ul>
    </div>
  </nav>
