<div class="row" id="contenedor">
    <div class="col s2"></div>
    <div class="col s8">     
        <barra-navegacion></barra-navegacion>
        <br>
        <div id="container">
            <div class="row">
                <div class="col s8 left">
                    <h5>Catalogo de Producto</h5>
                </div>
                <div class="col s4 right form-group ">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">search</i>
                        <input type="text"  type="text" id="descripcion"  class="form-control input-filtro" (input)="filtrarCatalogo(filtro.value)" #filtro>
                        <label for="descripcion">¿Que estas buscando?</label>
                    </div>
                </div>
                
            </div>
            <hr>
            <div class="row">
                        <div class="col s4 collection-item avatar" *ngFor="let producto of productos">
                            <div class="card">
                                <div class="card-image">
                                  <img src= {{producto.src}} class="imagen">
                                </div>
                                <div class="card-content">
                                  <span class="card-title black-text">{{producto.titulo}}</span>
                                  <p> <strong>Precio:</strong> ${{producto.precio}}</p>
                                  <p><strong>Disponibles:</strong> {{producto.cantidad}}</p>
                                  <br>
                                  <div class="row">
                                      <div class="col s6">
                                          <a class="waves-effect waves-light btn  indigo darken-4" [routerLink]="['/mas',producto.id,producto.titulo,producto.cantidad,producto.src,producto.precio]">Ver Mas </a>
                                      </div>
                                      <div class="col s6">
                                          <div class="row">
                                              <div class="col s2 center">
                                                  <a class="waves-effect waves-light btn  green darken-4"  (click)="agregarCarro(producto)">Añadir</a>
                                              </div>
                                              
                                          </div>
                                      </div>
                                      <div class="center col s6" >
                                          <input type="number" min="1" step="1" [(ngModel)]="producto.cantCarro" >
                                      </div>
                                  </div>
                                  
                                </div>
                              </div>
                        </div>
                    
            </div>
            
        </div>
    </div>
    <div class="col s2"></div>
</div>

