<div class="row">
    <div id="caja">
      <h3 class="center">Inicia Sesion</h3>
      <form class="white-text" (ngSubmit)="enviarForm(f)" #f="ngForm" ngNativeValidate>
        <p>
          <label for="email">Email</label> <br>
          <input type="email" name="email" ngModel  required >
        </p>
        <p>
          <label for="contrasena">Contraseña</label> <br>
          <input type="password" name="contrasena" required ngModel>
        </p>
        <div class="center"> 
          <input type="submit" value="Iniciar Sesion" class="waves-effect waves-light btn">
          
        </div>
        <br>
          <span span [style.color]="Color" class="error">{{mensaje}}</span>
      </form>
    </div>
  </div>
